.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
}

.MuiFormGroup-root {
  justify-content: center;
}

.history {
  background-color: white;
}

.MuiTypography-body1 {
  font-size: 1.2rem;
}
