body {
  margin: 0;
}

.app {
  text-align: center;
}
.MuiFormGroup-root {
  justify-content: center;
}

.history {
  background-color: white;
}

.MuiTypography-body1 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: white;
  margin-right: 15px;
}
